<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baltic App</title>
  </head>
  <body>
    <form method="post" action="">
      <select name="countries" id="countries">
        <option value="estonia">Estonia</option>
        <option value="latvia">Latvia</option>
        <option value="lithuania">Lithuania</option>
      </select>
      <input type="submit" value="Choose country" />
      <span id="result"></span>
    </form>
  </body>
</html>
